#title {
  text-align: center;
}

#img-caption{
  display: block;
  text-align: center;
}

#image{
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
}

body{
  background-color: pink;
}